/*Importando fonte externa no Goole fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/*Criando variáveis para as cores das fontes nome Chakra*/
:root{
    --cor-principal: #6e859f; 
    --cor-secundaria: #284260;
    --cor-destaque: #c92bfc;
}

a, .btn-link{
    text-decoration: none;
}
body {
    font-family: 'Chakra Petch', sans-serif;
    color: var(--cor-principal);
}

.lead, .btn-link {
    color: var(--cor-destaque);
    font-weight: 700;

}
.btn-link:hover{
    color: var(--cor-principal);

}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}


 footer a{
    color: var(--cor-principal);
}

 a:hover{
    color: var(--cor-destaque);
}